*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  margin-bottom: 0;
  position: relative;
}

.content {
  background-image: linear-gradient(to right, #fff, #eee);
  min-height: 100%;
  height: auto;
  margin: 2vw;
  -webkit-box-shadow: 8px -9px 22px -1px rgba(34, 60, 80, 0.19);
  -moz-box-shadow: 8px -9px 22px -1px rgba(34, 60, 80, 0.19);
  box-shadow: 8px -9px 22px -1px rgba(34, 60, 80, 0.19);
}

.dron__text {
  margin-top: 3rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 200;
}

.header {
  background: url("../images/wheat.png") 50% / cover no-repeat;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.header__text {
  position: relative;
  text-align: center;
  font-size: 6rem;
  color: white;
  font-weight: 300;
  margin-bottom: 5%;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 2rem;
  width: auto;
  max-width: 120rem;
  font-family: sans-serif;
  margin: 3rem auto;
  padding: 2rem;
  -webkit-box-shadow: 6px -2px 11px 9px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 6px -2px 11px 9px rgba(34, 60, 80, 0.12);
  box-shadow: 6px -2px 11px 9px rgba(34, 60, 80, 0.12);
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.dron-form {
  margin-bottom: 1rem;
}
#gallery {
  margin-top: 1rem;
}
#gallery img {
  width: 15rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 1rem;
  background: #ccc;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-right: 3rem;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
#submitButton {
  display: none;
}
#progress-bar {
  width: 100%;
  height: 2rem;
}

.dron-form__text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-cards__header {
  text-align: center;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.average-square,
.average-wheat {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem, auto);
  margin: auto;
  padding: 5rem;
  max-width: 120rem;
}

.card--main {
  grid-column: 1;
}

.card--graph {
  grid-column: 2 / 4;
}

.card {
  border: 1px solid rgba(34, 60, 80, 0.1);
  border-radius: 1rem;
  -webkit-box-shadow: 3px 0px 11px 6px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 3px 0px 11px 6px rgba(34, 60, 80, 0.07);
  box-shadow: 3px 0px 11px 6px rgba(34, 60, 80, 0.07);
}

.card__title {
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
}

svg.radial-progress {
  height: auto;
  margin: 3rem;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0, 0, 0, 0);
  stroke: rgb(138, 240, 240);
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}

svg.radial-progress circle.incomplete {
  opacity: 0.25;
}

svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
  fill: rgb(5, 8, 34);
  text-anchor: middle;
  font-weight: 500;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  margin: 3rem;
}

.square-img {
  height: auto;
  margin: 1rem 2rem;
  padding: 1em;
  width: 100%;
}

.disabled {
  color: rgba(99, 99, 99, 0.6);
  background-color: rgba(1, 1, 1, 0.11);
  cursor: default;
}

.lds-ring {
  display: inline-block;
  position: relative;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(65, 112, 205, 1) 100%);

}

.none {
  display: none;
}

#data_json {
  display: none;
}



